body {
    margin: 2px;
    background: white;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.label-container {
    white-space: nowrap;
    margin: 6px;
}

span {
    font-size: 12px;
    white-space: nowrap;
    padding: 3px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 2px;
    transition: 200ms;
    user-select: all;
}

span:hover {
    background: rgba(0, 0, 0, 0.15);
}

.image-box {
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

#execute-button {
    background: rgba(0, 0, 0, 0.1)
}

#execute-button:hover {
    background: rgba(0, 0, 0, 0.15);
}

#execute-button:active {
    transform: scale(0.9);
}

img {
    width: 25px;
    height: 25px;
}
